argcomplete==1.0.0
boto3==1.3.1
boto
cycler==0.10.0
Flask==0.12.2
Flask-Cors==3.0.2
future==0.16.0
gunicorn==19.0.0
h5py==2.7.0
imagesize==0.7.1
Jinja2==2.9.4
joblib==0.11
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==2.0.2
numexpr==2.6.2
numpy==1.12.1
numpydoc==0.6.0
oauthlib==1.0.3
pandas==0.20.1
pandas-datareader==0.2.1
pandasql==0.7.3
pathlib2==2.2.0
Pillow==4.1.1
plotly==2.0.7
psutil==5.0.1
py==1.4.32
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.1.3
pylint==1.6.4
pyOpenSSL==16.2.0
pyparsing==2.1.10
pyreadline==2.1
pytest==3.0.5
python-dateutil==2.6.0
python-rake==1.0.7
pytz==2016.10
PyWavelets==0.5.2
regex==2017.4.5
requests==2.14.2
requests-file==1.4.1
requests-oauthlib==0.6.1
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
statsmodels==0.8.0
unicodecsv==0.14.1
