#headerimg
{
    margin: 0 0 0 10%;
}
body
{
    background-color: #ffffff;
}
#the_stage
{
	border:1px solid #999;
    border-radius: 4px;
    /*box-shadow: -10px 10px 5px #888888;*/
}
.butt
{
    margin: 10px 20px 20px 0;
    width: 100px;
    font-size: 16px;
}
p
{
    font-size: 16px;
}