<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Админка</title>
	<!--<form action="{{ url_for('index_page') }}" method=post>-->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <link href="static/small-business.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/style.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index_page') }}">
                    <!--<img src="/static/logo.jpg" alt="">-->
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('about') }}">About the project</a>
                    </li>
                    <li>
                        <a href="{{ url_for('internals') }}">Project description</a>
                    </li>
                    <li>
                        <a href="{{ url_for('models') }}">Models</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
		      <!--<form action = "http://localhost:5000/" method = post>-->
         <!--<fieldset>-->
            <!--<legend>Contact Form</legend>-->
            <!--{{ form.hidden_tag() }}-->

            <!--<div style = font-size:20px; font-weight:bold; margin-left:150px;>-->
               <!--{{ form.name.label }}<br>-->
               <!--{{ form.name }}-->
               <!--<br>-->

               <!--{{ form.Gender.label }} {{ form.Gender }}-->
               <!--{{ form.Address.label }}<br>-->
               <!--{{ form.Address }}-->
               <!--<br>-->

               <!--{{ form.email.label }}<br>-->
               <!--{{ form.email }}-->
               <!--<br>-->

               <!--{{ form.Age.label }}<br>-->
               <!--{{ form.Age }}-->
               <!--<br>-->

               <!--{{ form.language.label }}<br>-->
               <!--{{ form.language }}-->
               <!--<br>-->
               <!--{{ form.submit }}-->
            <!--</div>-->

         <!--</fieldset>-->
      <!--</form>-->

        <div class="row clearfix">
            <div class="col-md-3" align="center">
				<div style="position: relative;">
					<!--<canvas id="the_stage" width="200" height="200" align="center">Canvas</canvas><br>-->
					<textarea id="text" name="text" rows="8" cols="40"></textarea></textarea>
					</div>
				<div style="position: relative;">
					<button type="button" class="btn btn-default butt" onclick="clearCanvas()" align="center">Clear</button>
					<button type="button" class="btn btn-default butt" id="pred" onclick="predict()" align="center">Predict</button>
					</div>
            </div>

            <div class="col-md-7">
				<div class="row" id="pr">
					<div class="col-md-8"><span id="pred_text">Инцидентов:</span> <span id="rec_result"> </span></div>
					<div class="col-md-4"><button type="button" class="btn btn-default butt" onclick="hide_show()" id="hide_show_btn" style="display: none;">Show info</button></div>
				</div>
				<div class="container" id="hidable" style="display: none;">
					<div>
						<div class="col-md-7">
							<table class="table">
								<thead>
									<tr>
										<th>Канал</th>
										<th>ID</th>
										<th>Текст</th>
										<th>Агенты</th>
										<th>Руководитель</th>
										<th>Время создания инцидента</th>
										<th>Дата переадресации</th>
										<th>Регион</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="a1"> </td>
										<td id="a2"> </td>
										<td id="a3"> </td>
										<td id="a4"> </td>
										<td id="a5"> </td>
										<td id="a6"> </td>
										<td id="a7"> </td>
										<td id="a8"> </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div id="prediction" style="display: none;">
						<span id="question">Is the prediction correct?</span>
						<button type="button" class="btn btn-default butt" id="yes" onclick="positive_pred()">Yes</button>
						<button type="button" class="btn btn-default butt" id="no" onclick="negative_pred()">No</button>
						<button type="button" class="btn btn-default butt" id="not_a_digit" onclick="nothing()">It wasn't a number</button>
					</div>
					<span id="answer_reaction"> </span>
					<div id="digit_form" style="display: none;">
						<select id="digits">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
						<button type="button" class="btn btn-default butt" onclick="submit_correct_digit()">Confirm</button>
					</div>
				</div>

            </div>
        </div>

        <hr>

        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<h2>About the app</h2>-->
                <!--<p>This app can recognize handwritten digits. Draw a digit on the canvas above and press the "Recognize" button to see a prediction. Press the "Clear" button to clear the canvas and draw a digit again. "Show more information" button reveals detailed predictions by all models.</p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Collecting the data</h2>-->
                <!--<p>The drawn image is saved in a temporary folder which is emptied at the end of each session. By default, the drawn image is used to additionally train models and futher improve the prediction quality. If you don't want this to happen, uncheck the flag below and no information will be collected.</p><br>-->
                <!--<label><input id="Checkbox" name="Checkbox" type="checkbox" checked="checked">Allow to use the drawn digit for model training</label>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Models performance</h2>-->
                <!--<table class="table">-->
					<!--<thead>-->
						<!--<tr>-->
							<!--<th>Model</th>-->
							<!--<th>MNIST accuracy</th>-->
							<!--<th>Worst predicted digit</th>-->
						<!--</tr>-->
					<!--</thead>-->
					<!--<tbody>-->
						<!--<tr>-->
							<!--<td>FNN</td>-->
							<!--<td id="fnn_mnist">58.95%</td>-->
							<!--<td id="fnn_bad_digit">9 (14.57%)</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td>Trained FNN</td>-->
							<!--<td id="fnn_t_mnist">62.13%</td>-->
							<!--<td id="fnn_t_bad_digit">9 (14.37%)</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td>TF CNN</td>-->
							<!--<td id="cnn_mnist">74.69%</td>-->
							<!--<td id="cnn_bad_digit">7 (25.97%)</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td>TF CNN trained</td>-->
							<!--<td id="cnn_t_mnist">74.27%</td>-->
							<!--<td id="cnn_t_bad_digit">9 (29.44%)</td>-->
						<!--</tr>-->
						<!---->
					<!--</tbody>-->
				<!--</table>-->
            <!--</div>-->
        <!--</div>-->

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="https://github.com/Erlemar/digit-draw-recognize">Github</a></p>
                </div>
            </div>
        </footer>

    </div>
    <script src="static/jquery.js"></script>
    <script src="static/bootstrap.min.js"></script>
	<script src="static/draw.js"></script>
</body>

</html>
