<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Handwritten digit recognition</title>
	<form action="{{ url_for('index_page') }}" method=post>
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <link href="static/small-business.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/style.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
					<a href="{{ url_for('index_page') }}"><img src="http://placehold.it/150x50&text=Logo" alt=""></a>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
						<a href="{{ url_for('about') }}">About the project</a>
                    </li>
                    <li>
						<a href="{{ url_for('internals') }}">Project description</a>
                    </li>
                    <li>
						<a href="{{ url_for('models') }}">Models</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row clearfix">
            <div class="col-md-3" align="center">
				<div style="position: relative;">
					<canvas id="the_stage" width="200" height="200" align="center">Canvas</canvas><br>
					</div>
				<div style="position: relative;">
					<button type="button" class="btn btn-default butt" onclick="clearCanvas()" align="center">Clear</button>
					<button type="button" class="btn btn-default butt" id="pred" onclick="predict()" align="center">Predict</button>
					</div>
            </div>

            <div class="col-md-7">
				<div class="row clearfix" id="pr">
					<div><span id="pred_text">Prediction result:</span> <span id="rec_result"> </span></div>
					<div><button type="button" class="btn btn-default butt" onclick="hide_show()" id="hide_show_btn" style="display: none;">Show detailed information</button></div>
				</div>
				<div class="container" id="hidable" style="display: none;">
					<div>
						<div class="col-md-7">
							<table class="table">
								<thead>
									<tr>
										<th>FNN</th>
										<th>Trained FNN</th>
										<th>TF CNN</th>
										<th>TF CNN trained</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="fnn1"> </td>
										<td id="fnn_t1"> </td>
										<td id="cnn1"> </td>
										<td id="cnn_t1"> </td>
									</tr>
									<tr>
										<td id="fnn2"> </td>
										<td id="fnn_t2"> </td>
										<td id="cnn2"> </td>
										<td id="cnn_t2"> </td>
									</tr>
									<tr>
										<td id="fnn3"> </td>
										<td id="fnn_t3"> </td>
										<td id="cnn3"> </td>
										<td id="cnn_t3"> </td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div id="prediction" style="display: none;">
						<span id="question">Is the prediction correct?</span>
						<button type="button" class="btn btn-default butt" id="yes" onclick="positive_pred()">Yes</button>
						<button type="button" class="btn btn-default butt" id="no" onclick="negative_pred()">No</button>
					</div>
					<span id="answer_reaction"> </span>
					<div id="digit_form" style="display: none;">
						<select id="digits">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
						<button type="button" class="btn btn-default butt" onclick="submit_correct_digit()">Confirm</button>
					</div>
				</div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="well">
                    <label><input id="Checkbox" name="Checkbox" type="checkbox" checked="checked">Allow to use the drawn digit for model training</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>About the app</h2>
                <p>This is an app for recognizing drawn digits. Draw a digit on the canvas and press the button "Recognize" to see the prediction. Press button "Clear" to clear the canvas and draw the digit again. Pressing button "Show more information" unhides a table with predictions done by several models.</p>
            </div>
            <div class="col-md-4">
                <h2>Collecting the data</h2>
                <p>The drawn image is saved in temporary folder which is emptied after the end of the session. By default the drawn image is used to improve the quality of predictions by models. If you don't want this, uncheck the relevent flag. No more information is collected.</p>
            </div>
			<!--<div class="col-md-4">
                <h2>Additional information</h2>
                <p>If you want to know more about this project, press one of the links at the top of the screen (or use navigation bar on mobile). There is also a direct link to Github at the bottom of the page.</p>
            </div>-->
            <div class="col-md-4">
                <h2>Models performance</h2>
                <table class="table">
					<thead>
						<tr>
							<th>Model</th>
							<th>MNIST accuracy</th>
							<th>Worst predicted digit</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>FNN</td>
							<td id="fnn_mnist"></td>
							<td id="fnn_bad_digit"></td>
						</tr>
						<tr>
							<td>Trained FNN</td>
							<td id="fnn_t_mnist"> </td>
							<td id="fnn_t_bad_digit"> </td>
						</tr>
						<tr>
							<td>TF CNN</td>
							<td id="cnn_mnist"> </td>
							<td id="cnn_bad_digit"> </td>
						</tr>
						<tr>
							<td>TF CNN trained</td>
							<td id="cnn_t_mnist"> </td>
							<td id="cnn_t_bad_digit"> </td>
						</tr>
						
					</tbody>
				</table>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="https://github.com/Erlemar/digit-draw-recognize">Github</a></p>
                </div>
            </div>
        </footer>

    </div>
    <script src="static/jquery.js"></script>
    <script src="static/bootstrap.min.js"></script>
	<script src="static/draw.js"></script>
</body>

</html>
